In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
hic2015 = pd.read_excel('..\data\HIC.xlsx', sheet_name= 9)

In [3]:
hic2015.columns = hic2015.iloc[0]
hic2015=hic2015[1:].reset_index(drop=True)
hic2015

,State,"Total Year-Round Beds (ES, TH, SH)","Total Non-DV Year-Round Beds (ES, TH, SH)","Total HMIS Year-Round Beds (ES, TH, SH)","HMIS Participation Rate for Year-Round Beds (ES, TH, SH)",Total Year-Round Beds (ES),Total Year-Round Beds (TH),Total Year-Round Beds (SH),"Total Units for Households with Children (ES, TH, SH)","Total Beds for Households with Children (ES, TH, SH)",...,Total Beds for Households without Children (PSH),Total Beds for Households with only Children (PSH),Total Year-Round Beds (OPH),Total Non-DV Year-Round Beds (OPH),Total HMIS Year-Round Beds (OPH),HMIS Participation Rate for Year-Round Beds (OPH),Total Units for Households with Children (OPH),Total Beds for Households with Children (OPH),Total Beds for Households without Children (OPH),Total Beds for Households with only Children (OPH)
0,AK,1860,1425,1134,0.6097,1184,676,0,202,651,...,521,0,71,71,71,1,0,0,71,0
1,AL,3613,3121,1795,0.4968,1868,1711,34,413,1253,...,1788,0,210,210,0,0,6,20,190,0
2,AR,2486,1839,1007,0.4051,1727,759,0,301,963,...,379,0,328,322,22,0.0671,3,11,317,0
3,AZ,7473,6429,5680,0.7601,3692,3741,40,1190,3412,...,4680,0,1322,1322,965,0.73,236,946,376,0
4,CA,45929,41095,30125,0.6559,20857,24900,172,6282,21335,...,33873,5,1745,1745,1339,0.7673,397,1176,569,0
5,CO,7653,6834,5168,0.6753,3263,4365,25,1136,4088,...,2481,0,10,10,0,0,1,10,0,0
6,CT,3399,3056,2796,0.8226,2295,1104,0,477,1513,...,3872,0,0,0,0,.,0,0,0,0
7,DC,6963,6570,6374,0.9154,4843,2120,0,1239,3798,...,2976,0,0,0,0,.,0,0,0,0
8,DE,1146,1068,621,0.5419,588,558,0,184,497,...,664,0,0,0,0,.,0,0,0,0
9,FL,22026,19428,16166,0.734,10891,10997,138,2605,9254,...,9672,0,1483,1483,554,0.3736,274,756,727,0
10,GA,9219,7760,5601,0.6075,4416,4803,0,1126,3877,...,5158,0,28,28,0,0,0,0,28,0
11,GU,154,101,100,0.6494,132,22,0,19,82,...,77,0,0,0,0,.,0,0,0,0
12,HI,4363,4174,3974,0.9108,1404,2934,25,782,2840,...,961,0,0,0,0,.,0,0,0,0
13,IA,3606,2935,2015,0.5588,1615,1991,0,656,2032,...,510,0,241,241,218,0.9046,40,147,94,0
14,ID,1859,1586,940,0.5056,939,920,0,290,903,...,447,0,0,0,0,.,0,0,0,0
15,IL,11975,10628,8559,0.7147,4918,6977,80,1706,5940,...,7744,0,272,272,62,0.2279,57,211,61,0
16,IN,6511,5078,3208,0.4927,3715,2746,50,963,3210,...,2037,0,132,118,8,0.0606,18,50,82,0
17,KS,2979,2319,1634,0.5485,1844,1115,20,461,1517,...,903,0,12,12,0,0,2,6,6,0
18,KY,4087,3527,2644,0.6469,2320,1767,0,449,1390,...,1919,0,98,98,98,1,35,77,21,0
19,LA,4028,3527,2671,0.6631,1931,2055,42,370,1253,...,3248,0,27,27,27,1,2,4,23,0
20,MA,17707,16671,15263,0.862,13961,3693,53,4226,12343,...,8002,0,1904,1877,1309,0.6875,476,1243,661,0
21,MD,6076,5607,4591,0.7556,3014,2953,109,784,2824,...,3376,0,284,284,284,1,68,171,113,0
22,ME,2576,2213,2036,0.7904,1204,1357,15,465,1447,...,1377,0,0,0,0,.,0,0,0,0
23,MI,10337,8351,7730,0.7478,5634,4622,81,1437,4768,...,4567,0,8395,8395,4021,0.479,1655,6004,2391,0
24,MN,6779,5903,4811,0.7097,3639,3140,0,1177,3915,...,6195,56,228,220,171,0.75,59,175,53,0
25,MO,6700,4798,2834,0.423,4128,2514,58,1169,3126,...,2342,0,148,118,106,0.7162,16,32,116,0
26,MS,1498,1115,874,0.5834,729,769,0,207,765,...,193,0,0,0,0,.,0,0,0,0
27,MT,1224,949,387,0.3162,761,463,0,252,649,...,307,0,23,23,23,1,3,6,17,0
28,NC,9337,7914,5803,0.6215,6062,3275,0,1004,3752,...,3509,0,0,0,0,.,0,0,0,0
29,ND,966,731,713,0.7381,770,196,0,152,442,...,527,0,0,0,0,.,0,0,0,0
30,NE,2973,2709,1954,0.6572,1559,1414,0,401,1338,...,642,0,181,181,71,0.3923,54,115,66,0
31,NH,1369,1203,1082,0.7904,748,612,9,275,766,...,575,0,0,0,0,.,0,0,0,0
32,NJ,7737,6863,6363,0.8224,4618,3099,20,1361,3897,...,3696,0,152,152,152,1,34,103,49,0
33,NM,2277,1462,899,0.3948,1265,1012,0,352,1308,...,1335,0,0,0,0,.,0,0,0,0
34,NV,4466,4196,3867,0.8659,2904,1537,25,383,1029,...,1819,0,56,56,20,0.3571,0,0,56,0
35,NY,86578,82773,73499,0.8489,77017,9345,216,15923,54257,...,28449,7,602,602,214,0.3555,139,417,185,0
36,OH,10273,9054,7611,0.7409,6676,3506,91,1316,3953,...,9545,72,0,0,0,.,0,0,0,0
37,OK,3804,3056,2362,0.6209,2933,846,25,400,1366,...,1142,0,10,10,0,0,1,3,7,0
38,OR,6144,5636,3275,0.533,3062,3072,10,1177,2522,...,3779,0,79,79,79,1,17,62,17,0
39,PA,16140,14229,12077,0.7483,8452,7420,268,2754,8699,...,6945,0,1087,1087,1087,1,300,900,187,0
40,PR,2112,1671,1665,0.7884,646,1391,75,208,722,...,1158,0,284,284,284,1,3,9,275,0
41,RI,1142,1008,872,0.7636,705,437,0,202,557,...,828,0,118,118,118,1,25,68,50,0
42,SC,3755,3303,2075,0.5526,1676,2067,12,371,1424,...,1344,0,104,75,0,0,35,104,0,0
43,SD,1460,1047,663,0.4541,1112,348,0,355,823,...,328,0,0,0,0,.,0,0,0,0
44,TN,6981,6351,3505,0.5021,4237,2728,16,828,2384,...,2586,0,99,84,32,0.3232,19,56,43,0
45,TX,20812,16272,11477,0.5515,13382,7302,128,2651,9696,...,6754,0,438,438,210,0.4795,62,180,258,0
46,UT,2760,1986,1765,0.6395,1697,1039,24,367,1197,...,1303,0,2,2,2,1,0,0,2,0
47,VA,6077,4858,4073,0.6702,3942,2079,56,930,3427,...,2334,0,312,312,217,0.6955,18,67,245,0
48,VI,128,85,62,0.4844,82,46,0,16,50,...,35,0,0,0,0,.,0,0,0,0
49,VT,903,808,223,0.247,583,316,4,121,332,...,420,0,0,0,0,.,0,0,0,0
50,WA,14476,12907,9854,0.6807,7415,7016,45,2415,8086,...,6980,10,3601,3404,2460,0.6831,856,2834,758,9
51,WI,6703,5286,4703,0.7016,3656,2983,64,1280,3930,...,2160,0,95,95,42,0.4421,11,42,53,0
52,WV,1815,1536,1133,0.6242,1279,523,13,217,665,...,708,0,148,148,140,0.9459,13,36,112,0
53,WY,853,654,505,0.592,450,403,0,143,433,...,157,2,0,0,0,.,0,0,0,0
54,Total,426267,375705,302818,0.7104,264440,159784,2043,66170,216700,...,199327,152,24329,24003,14406,0.5921,4935,16041,8279,9

In [4]:
hic2015['year']= 2015

In [5]:
hic2016 = pd.read_excel('..\data\HIC.xlsx', sheet_name= 8)

In [6]:
hic2016.columns = hic2016.iloc[0]
hic2016=hic2016[1:].reset_index(drop=True)
hic2016

,State,"Total Year-Round Beds (ES, TH, SH)","Total Non-DV Year-Round Beds (ES, TH, SH)","Total HMIS Year-Round Beds (ES, TH, SH)","HMIS Participation Rate for Year-Round Beds (ES, TH, SH)",Total Year-Round Beds (ES),Total Year-Round Beds (TH),Total Year-Round Beds (SH),"Total Units for Households with Children (ES, TH, SH)","Total Beds for Households with Children (ES, TH, SH)",...,Total Beds for Households without Children (PSH),Total Beds for Households with only Children (PSH),Total Year-Round Beds (OPH),Total Non-DV Year-Round Beds (OPH),Total HMIS Year-Round Beds (OPH),HMIS Participation Rate for Year-Round Beds (OPH),Total Units for Households with Children (OPH),Total Beds for Households with Children (OPH),Total Beds for Households without Children (OPH),Total Beds for Households with only Children (OPH)
0,AK,1826,1468,1249,0.684,1095,731,0,185,633,...,544,0,130,130,130,1,8,28,102,0
1,AL,3489,2952,1931,0.5535,1912,1543,34,402,1218,...,2054,1,113,113,93,0.823,4,12,101,0
2,AR,2394,1758,907,0.3789,1731,663,0,298,975,...,758,0,36,30,30,0.8333,3,11,25,0
3,AZ,6942,5913,5403,0.7783,3922,2980,40,997,3343,...,4979,0,1320,1320,1320,1,230,1001,319,0
4,CA,42351,37419,28631,0.676,20240,21966,145,5789,19438,...,38042,5,2841,2800,2460,0.8659,416,1553,1288,0
5,CO,7656,6834,4310,0.563,3541,4048,67,1068,3994,...,2886,0,54,54,54,1,0,0,54,0
6,CT,3236,2902,2705,0.8359,2276,960,0,473,1495,...,4468,0,0,0,0,.,0,0,0,0
7,DC,8314,7949,7692,0.9252,6077,2237,0,1619,5049,...,3260,0,2296,2296,72,0.0314,296,778,1518,0
8,DE,1170,1057,701,0.5991,590,580,0,169,450,...,542,0,65,65,65,1,0,0,65,0
9,FL,21575,18825,15890,0.7365,11372,10081,122,2415,9279,...,10053,0,1093,1093,462,0.4227,130,412,681,0
10,GA,8792,7323,4954,0.5635,4362,4430,0,1033,3585,...,5493,0,28,28,0,0,0,0,28,0
11,GU,146,105,100,0.6849,125,21,0,19,82,...,98,0,0,0,0,.,0,0,0,0
12,HI,4412,4213,4213,0.9549,1714,2673,25,698,2888,...,1695,0,0,0,0,.,0,0,0,0
13,IA,3568,2893,2402,0.6732,1483,2085,0,618,2023,...,638,0,158,158,154,0.9747,29,116,42,0
14,ID,1906,1642,894,0.469,1075,831,0,244,937,...,461,0,0,0,0,.,0,0,0,0
15,IL,11381,10047,8911,0.783,4597,6675,109,1561,5736,...,8358,0,260,260,145,0.5577,43,177,83,0
16,IN,6479,5008,3062,0.4726,3918,2511,50,961,3127,...,2327,0,118,118,8,0.0678,15,36,82,0
17,KS,2462,1947,1412,0.5735,1433,1009,20,406,1370,...,852,0,12,12,0,0,2,6,6,0
18,KY,3797,3206,2559,0.674,2228,1569,0,463,1362,...,2012,0,324,324,75,0.2315,10,20,304,0
19,LA,3675,3157,2538,0.6906,1757,1868,50,347,1210,...,3447,0,13,13,13,1,6,13,0,0
20,MA,17382,16377,15075,0.8673,13903,3433,46,4189,12162,...,8166,0,3643,3612,1691,0.4642,998,2708,935,0
21,MD,6138,5663,4799,0.7819,3188,2865,85,817,2762,...,4391,1,332,332,332,1,105,277,55,0
22,ME,2484,2109,1880,0.7568,1274,1195,15,418,1326,...,1293,0,157,154,146,0.9299,43,100,57,0
23,MI,9261,7227,6669,0.7201,5549,3630,82,1380,4123,...,5190,0,13763,13742,488,0.0355,2941,10436,3327,0
24,MN,6871,5987,4971,0.7235,3737,3134,0,1193,3951,...,6385,54,561,553,476,0.8485,117,329,232,0
25,MO,6529,4707,3528,0.5404,4117,2372,40,1081,2975,...,2660,0,108,108,108,1,1,2,106,0
26,MS,1383,1015,779,0.5633,723,660,0,178,668,...,221,0,0,0,0,.,0,0,0,0
27,MT,1257,958,347,0.2761,781,476,0,252,640,...,307,0,14,14,14,1,0,0,14,0
28,NC,8641,7199,5599,0.648,6060,2581,0,907,3524,...,3766,0,259,259,259,1,46,150,109,0
29,ND,980,648,638,0.651,744,236,0,181,409,...,412,0,158,158,158,1,8,18,140,0
30,NE,2733,2551,1901,0.6956,1399,1334,0,343,1151,...,735,0,199,199,42,0.2111,26,83,116,0
31,NH,1476,1291,1091,0.7392,807,660,9,274,814,...,630,0,0,0,0,.,0,0,0,0
32,NJ,7127,6250,5921,0.8308,4619,2488,20,1378,3663,...,3802,0,536,536,431,0.8041,62,171,365,0
33,NM,1880,1242,801,0.4261,1087,793,0,264,940,...,1404,0,8,8,8,1,0,0,8,0
34,NV,3577,3302,2858,0.799,2198,1354,25,309,721,...,2199,2,0,0,0,.,0,0,0,0
35,NY,84730,80950,74660,0.8812,76479,8052,199,16167,52980,...,31318,6,659,659,328,0.4977,151,458,201,0
36,OH,9844,8604,7508,0.7627,6628,3124,92,1300,3876,...,10332,0,22,22,22,1,5,15,7,0
37,OK,3762,2976,2162,0.5747,2914,823,25,405,1433,...,1188,5,10,10,0,0,1,3,7,0
38,OR,5791,5294,3241,0.5597,3261,2520,10,792,2105,...,4154,3,122,122,122,1,26,93,29,0
39,PA,15682,13791,11475,0.7317,8630,6840,212,2684,8338,...,6726,0,1115,1115,1115,1,300,900,215,0
40,PR,2000,1565,1558,0.779,645,1278,77,215,659,...,1291,0,285,285,285,1,3,9,276,0
41,RI,1122,963,810,0.7219,703,419,0,200,511,...,876,0,344,344,344,1,99,201,143,0
42,SC,3721,3265,2098,0.5638,1755,1954,12,393,1485,...,1447,0,124,124,29,0.2339,25,95,29,0
43,SD,1157,831,443,0.3829,813,344,0,286,657,...,314,0,0,0,0,.,0,0,0,0
44,TN,6979,6278,3845,0.5509,4319,2652,8,683,2287,...,2625,0,42,39,18,0.4286,8,23,19,0
45,TX,20297,16263,11879,0.5853,13328,6863,106,2537,9519,...,8079,0,2434,2434,2431,0.9988,539,1635,799,0
46,UT,2499,1696,1520,0.6082,1810,689,0,288,1014,...,1332,0,2,2,2,1,0,0,2,0
47,VA,5942,4797,3850,0.6479,4013,1873,56,869,3178,...,2657,0,725,725,640,0.8828,97,328,397,0
48,VI,143,95,82,0.5734,92,51,0,17,59,...,65,0,0,0,0,.,0,0,0,0
49,VT,752,634,326,0.4335,424,324,4,127,338,...,506,0,14,14,0,0,0,0,14,0
50,WA,14627,12972,10157,0.6944,7787,6795,45,2397,7873,...,7076,10,2841,2562,2165,0.7621,608,2152,680,9
51,WI,6404,5068,4456,0.6958,3614,2726,64,1244,3727,...,2269,0,271,271,223,0.8229,51,152,119,0
52,WV,1731,1451,1175,0.6788,1269,449,13,198,659,...,908,0,155,155,155,1,13,36,119,0
53,WY,812,592,515,0.6342,511,301,0,139,401,...,150,0,6,6,6,1,0,0,6,0
54,Total,411285,361229,299081,0.7272,264629,144749,1907,63870,209122,...,217841,87,37770,37378,17119,0.4532,7465,24537,13224,9

In [7]:
hic2016['year'] = 2016

In [8]:
hic2017 = pd.read_excel('..\data\HIC.xlsx', sheet_name= 7)

In [9]:
hic2017.columns = hic2017.iloc[0]
hic2017=hic2017[1:].reset_index(drop=True)

In [10]:
hic2017['year'] = 2017
hic2017

,State,"Total Year-Round Beds (ES, TH, SH)","Total Non-DV Year-Round Beds (ES, TH, SH)","Total HMIS Year-Round Beds (ES, TH, SH)","HMIS Participation Rate for Year-Round Beds (ES, TH, SH)",Total Year-Round Beds (ES),Total Year-Round Beds (TH),Total Year-Round Beds (SH),"Total Units for Households with Children (ES, TH, SH)","Total Beds for Households with Children (ES, TH, SH)",...,Total Non-DV Year-Round Beds (OPH),Total HMIS Year-Round Beds (OPH),HMIS Participation Rate for Year-Round Beds (OPH),Total Units for Households with Children (OPH),Total Beds for Households with Children (OPH),Total Beds for Households without Children (OPH),Total Beds for Households with only Children (OPH),Dedicated Veteran Beds (OPH),Dedicated Youth Beds (OPH),year
0,AK,1828,1484,1307,0.715,1130,698,0,177,622,...,101,101,1,0,0,101,0,0,0,2017
1,AL,3444,2915,1601,0.4649,2073,1334,37,380,1216,...,113,93,0.823,4,12,101,0,0,0,2017
2,AR,2062,1516,743,0.3603,1513,549,0,232,837,...,38,23,0.6053,6,19,19,0,0,0,2017
3,AZ,5880,4896,4590,0.7806,3866,1978,36,721,2600,...,1076,1076,1,198,873,203,0,25,32,2017
4,CA,44473,39588,25743,0.5788,24799,19537,137,6455,20645,...,4548,2734,0.5886,662,2119,2526,0,995,147,2017
5,CO,7071,6260,3215,0.4547,3761,3285,25,1669,3284,...,211,144,0.5393,35,123,144,0,28,0,2017
6,CT,3094,2773,2666,0.8617,2248,846,0,459,1463,...,0,0,.,0,0,0,0,0,0,2017
7,DC,7402,7064,6727,0.9088,5888,1514,0,1265,4171,...,1751,0,0,472,1561,190,0,0,0,2017
8,DE,1143,1067,649,0.5678,575,568,0,177,468,...,101,89,0.8812,3,9,92,0,24,0,2017
9,FL,19982,17407,14745,0.7379,11493,8366,123,2124,8179,...,1539,542,0.3522,121,379,1160,0,69,0,2017
10,GA,8127,6678,4059,0.4994,4593,3534,0,945,3222,...,43,28,0.6512,4,10,33,0,0,0,2017
11,GU,129,88,83,0.6434,129,0,0,19,82,...,0,0,.,0,0,0,0,0,0,2017
12,HI,4252,4030,4006,0.9421,1693,2534,25,743,2844,...,0,0,.,0,0,0,0,0,0,2017
13,IA,3266,2696,2274,0.6963,1524,1742,0,554,1815,...,199,199,1,36,143,56,0,12,0,2017
14,ID,1691,1407,740,0.4376,1125,566,0,212,842,...,0,0,.,0,0,0,0,0,0,2017
15,IL,10177,8766,8071,0.7931,4797,5299,81,1282,4797,...,494,426,0.7474,113,343,224,3,93,40,2017
16,IN,6142,4760,2893,0.471,3988,2104,50,855,2777,...,78,66,0.8462,15,36,42,0,0,0,2017
17,KS,2516,1937,1097,0.436,1755,741,20,361,1196,...,0,0,.,0,0,0,0,0,0,2017
18,KY,3540,2977,2249,0.6353,2276,1262,2,347,1112,...,433,307,0.709,53,119,314,0,0,0,2017
19,LA,3164,2708,2197,0.6944,1734,1385,45,289,1073,...,13,13,1,6,13,0,0,0,0,2017
20,MA,16614,15750,15156,0.9122,13732,2797,85,4009,11739,...,4385,2652,0.6004,1056,2961,1456,0,123,33,2017
21,MD,5616,5164,4318,0.7689,3334,2197,85,671,2429,...,427,425,0.9953,131,359,68,0,5,5,2017
22,ME,2457,2105,1907,0.7761,1217,1225,15,417,1256,...,0,0,0,8,23,1,0,0,0,2017
23,MI,8624,6653,6065,0.7033,5710,2851,63,1181,3980,...,22197,5708,0.2569,4690,16152,6066,0,79,6,2017
24,MN,7013,6204,5213,0.7433,3766,3247,0,1160,3821,...,2137,1831,0.8399,400,1437,733,10,81,93,2017
25,MO,6057,4388,3356,0.5541,3858,2159,40,877,2788,...,80,13,0.1625,2,4,76,0,1,13,2017
26,MP,41,0,0,0,41,0,0,1,5,...,0,0,.,0,0,0,0,0,0,2017
27,MS,1322,973,657,0.497,842,480,0,135,597,...,0,0,.,0,0,0,0,0,0,2017
28,MT,1290,996,145,0.1124,946,344,0,218,747,...,14,14,1,0,0,14,0,0,0,2017
29,NC,8002,6623,5256,0.6568,5881,2121,0,850,3302,...,252,252,1,77,202,50,0,50,0,2017
30,ND,1034,702,690,0.6673,896,138,0,191,433,...,0,0,.,0,0,0,0,0,0,2017
31,NE,2569,2347,1694,0.6594,1576,993,0,337,1109,...,280,110,0.3929,30,74,206,0,50,0,2017
32,NH,1383,1209,1098,0.7939,807,567,9,288,794,...,78,78,1,17,47,31,0,0,0,2017
33,NJ,7001,6115,5634,0.8047,4766,2215,20,1351,3552,...,296,285,0.9628,25,70,226,0,0,0,2017
34,NM,1674,1147,678,0.405,1112,562,0,197,776,...,0,0,.,0,0,0,0,0,0,2017
35,NV,3331,2999,2561,0.7688,1994,1312,25,283,757,...,0,0,.,0,0,0,0,0,0,2017
36,NY,87836,84036,81126,0.9236,81468,6276,92,17280,55035,...,511,184,0.3559,122,365,152,0,0,16,2017
37,OH,9420,8104,6915,0.7341,7069,2287,64,1218,3810,...,30,24,0.8,6,6,24,0,20,0,2017
38,OK,3678,2901,2132,0.5797,2829,824,25,374,1364,...,10,0,0,1,3,7,0,0,0,2017
39,OR,6648,6081,3959,0.5955,4107,2531,10,818,2246,...,145,136,0.9379,37,115,30,0,1,0,2017
40,PA,14246,12467,9926,0.6968,8248,5806,192,2367,7393,...,1159,198,0.1692,320,959,211,0,31,12,2017
41,PR,1531,1222,1222,0.7982,684,815,32,98,339,...,280,280,1,0,0,280,0,0,0,2017
42,RI,1069,907,761,0.7119,726,343,0,138,393,...,699,693,0.9733,116,283,429,0,1,1,2017
43,SC,2931,2583,1915,0.6534,1898,1020,13,305,1243,...,162,85,0.5247,23,92,50,20,7,24,2017
44,SD,1356,958,300,0.2212,966,390,0,395,752,...,0,0,.,0,0,0,0,0,0,2017
45,TN,6326,5621,4687,0.7409,3959,2359,8,584,2149,...,155,155,0.8807,11,33,143,0,0,0,2017
46,TX,19344,15519,11890,0.6147,13475,5785,84,2485,8907,...,2814,2294,0.8152,644,2263,551,0,0,0,2017
47,UT,2754,2080,1896,0.6885,2280,474,0,344,1196,...,2,2,0.016,36,123,2,0,0,0,2017
48,VA,5628,4568,3656,0.6496,4109,1462,57,767,2829,...,912,766,0.8399,105,338,574,0,54,0,2017
49,VI,132,100,87,0.6591,83,49,0,16,43,...,0,0,.,0,0,0,0,0,0,2017
50,VT,961,809,472,0.4912,649,308,4,146,442,...,0,0,.,0,0,0,0,0,0,2017
51,WA,14288,12652,9764,0.6834,8428,5815,45,2497,7694,...,2910,2624,0.8672,643,2197,809,20,94,205,2017
52,WI,5525,4197,3804,0.6885,3422,2012,91,1042,3164,...,460,415,0.9022,42,137,323,0,14,0,2017
53,WV,1657,1334,1053,0.6355,1338,306,13,210,651,...,330,330,1,26,78,252,0,0,0,2017
54,WY,698,637,503,0.7206,361,337,0,117,306,...,0,0,.,0,0,0,0,0,0,2017
55,Total,399439,351168,290151,0.7264,277537,120249,1653,62633,201286,...,51463,25395,0.4874,10296,34080,17969,53,1857,627,2017

In [11]:
hic2018 = pd.read_excel('..\data\HIC.xlsx', sheet_name= 6)

In [12]:
hic2018.columns = hic2018.iloc[0]
hic2018=hic2018[1:].reset_index(drop=True)

In [13]:
hic2018['year'] = 2018
hic2018.head(2)

,State,"Total Year-Round Beds (ES, TH, SH)","Total Non-DV Year-Round Beds (ES, TH, SH)","Total HMIS Year-Round Beds (ES, TH, SH)","HMIS Participation Rate for Year-Round Beds (ES, TH, SH)",Total Year-Round Beds (ES),Total Year-Round Beds (TH),Total Year-Round Beds (SH),"Total Units for Households with Children (ES, TH, SH)","Total Beds for Households with Children (ES, TH, SH)",...,Total Non-DV Year-Round Beds (OPH),Total HMIS Year-Round Beds (OPH),HMIS Participation Rate for Year-Round Beds (OPH),Total Units for Households with Children (OPH),Total Beds for Households with Children (OPH),Total Beds for Households without Children (OPH),Total Beds for Households with only Children (OPH),Dedicated Veteran Beds (OPH),Dedicated Youth Beds (OPH),year
0,AK,1940,1490,1407,0.7253,1398,542,0,211,709,...,71,71,1,0,0,71,0,0,0,2018
1,AL,3188,2673,1633,0.5122,2114,1040,34,350,1121,...,0,0,.,0,0,0,0,0,0,2018

In [14]:
hic2019 = pd.read_excel('..\data\HIC.xlsx', sheet_name= 5)

In [15]:
hic2019.columns = hic2019.iloc[0]
hic2019=hic2019[1:].reset_index(drop=True)

In [16]:
hic2019['year'] = 2019
hic2019.head(2)

,State,"Total Year-Round Beds (ES, TH, SH)","Total Non-DV Year-Round Beds (ES, TH, SH)","Total HMIS Year-Round Beds (ES, TH, SH)","HMIS Participation Rate for Year-Round Beds (ES, TH, SH)",Total Year-Round Beds (ES),Total Year-Round Beds (TH),Total Year-Round Beds (SH),"Total Units for Households with Children (ES, TH, SH)","Total Beds for Households with Children (ES, TH, SH)",...,Total Non-DV Year-Round Beds (OPH),Total HMIS Year-Round Beds (OPH),HMIS Participation Rate for Year-Round Beds (OPH),Total Units for Households with Children (OPH),Total Beds for Households with Children (OPH),Total Beds for Households without Children (OPH),Total Beds for Households with only Children (OPH),Dedicated Veteran Beds (OPH),Dedicated Youth Beds (OPH),year
0,AK,1878,1486,1333,0.7098,1374,504,0,211,677,...,71,71,1,0,0,71,0,0,0,2019
1,AL,2701,2204,1534,0.5679,1937,730,34,319,982,...,8,0,0,0,0,8,0,0,0,2019

In [17]:
hic2020 = pd.read_excel('..\data\HIC.xlsx', sheet_name= 4)

In [18]:
hic2020.columns = hic2020.iloc[0]
hic2020=hic2020[1:].reset_index(drop=True)

In [19]:
hic2020['year'] = 2020

In [20]:
hic2021 = pd.read_excel('..\data\HIC.xlsx', sheet_name= 3)

In [21]:
hic2021.columns = hic2021.iloc[0]
hic2021=hic2021[1:].reset_index(drop=True)

In [22]:
hic2021['year'] = 2021

In [23]:
hic2022 = pd.read_excel('..\data\HIC.xlsx', sheet_name= 2)

In [24]:
hic2022.columns = hic2022.iloc[0]
hic2022=hic2022[1:].reset_index(drop=True)

In [25]:
hic2022['year'] = 2022

In [26]:
hic2023 = pd.read_excel('..\data\HIC.xlsx', sheet_name= 1)

In [27]:
hic2023.columns = hic2023.iloc[0]
hic2023=hic2023[1:].reset_index(drop=True)

In [28]:
hic2023['year'] = 2023

In [29]:
hic2023.head(2)

,State,"Total Year-Round Beds (ES, TH, SH)","Total Non-DV Year-Round Beds (ES, TH, SH)","Total HMIS Year-Round Beds (ES, TH, SH)","HMIS Participation Rate for Year-Round Beds (ES, TH, SH)",Total Year-Round Beds (ES),Total Year-Round Beds (TH),Total Year-Round Beds (SH),"Total Units for Households with Children (ES, TH, SH)","Total Beds for Households with Children (ES, TH, SH)",...,Total Non-DV Year-Round Beds (OPH),Total HMIS Year-Round Beds (OPH),HMIS Participation Rate for Year-Round Beds (OPH),Total Units for Households with Children (OPH),Total Beds for Households with Children (OPH),Total Beds for Households without Children (OPH),Total Beds for Households with only Children (OPH),Dedicated Veteran Beds (OPH),Dedicated Youth Beds (OPH),year
0,AK,2308,1769,1567,0.6789,1797,511,0,226,718,...,323,129,0.3505,38,152,216,0,0,0,2023
1,AL,2244,1688,1367,0.6092,1629,605,10,290,806,...,116,116,1,11,32,84,0,9,0,2023

In [30]:
hic2024 = pd.read_excel('..\data\HIC.xlsx', sheet_name= 0)

In [31]:
hic2024.columns = hic2024.iloc[0]
hic2024=hic2024[1:].reset_index(drop=True)

In [32]:
hic2024['year'] = 2024

In [33]:
pit2015 = pd.read_excel('..\data\PIT.xlsx', sheet_name= 9)

In [34]:
pit2015['year'] = 2015
pit2015.head(1)

,State,Number of CoCs,Overall Homeless,Overall Homeless - Under 18,Overall Homeless - Age 18 to 24,Overall Homeless - Over 24,Overall Homeless - Woman,Overall Homeless - Man,Overall Homeless - Transgender,Overall Homeless - Non-Hispanic/Latina/e/o,...,Sheltered ES Homeless Parenting Youth Age 18-24,Sheltered TH Homeless Parenting Youth Age 18-24,Sheltered Total Homeless Parenting Youth Age 18-24,Unsheltered Homeless Parenting Youth Age 18-24,Overall Homeless Children of Parenting Youth,Sheltered ES Homeless Children of Parenting Youth,Sheltered TH Homeless Children of Parenting Youth,Sheltered Total Homeless Children of Parenting Youth,Unsheltered Homeless Children of Parenting Youth,year
0,AK,2,1956,411,197,1348,773,1181,2,1862,...,8,10,18,0,21,9,12,21,0,2015

In [35]:
pit2016 = pd.read_excel('..\data\PIT.xlsx', sheet_name= 8)

In [36]:
pit2016['year'] = 2016

In [37]:
pit2017 = pd.read_excel('..\data\PIT.xlsx', sheet_name= 7)
pit2017.head(1)

,State,Number of CoCs,Overall Homeless,Overall Homeless - Under 18,Overall Homeless - Age 18 to 24,Overall Homeless - Over 24,Overall Homeless - Woman,Overall Homeless - Man,Overall Homeless - Transgender,Overall Homeless - Non Binary,...,Overall Homeless Parenting Youth Age 18-24,Sheltered ES Homeless Parenting Youth Age 18-24,Sheltered TH Homeless Parenting Youth Age 18-24,Sheltered Total Homeless Parenting Youth Age 18-24,Unsheltered Homeless Parenting Youth Age 18-24,Overall Homeless Children of Parenting Youth,Sheltered ES Homeless Children of Parenting Youth,Sheltered TH Homeless Children of Parenting Youth,Sheltered Total Homeless Children of Parenting Youth,Unsheltered Homeless Children of Parenting Youth
0,AK,2,1845,305,186,1354,765,1075,4,1,...,22,10,12,22,0,39,20,19,39,0

In [38]:
pit2017['year'] = 2017
pit2017.head(1)

,State,Number of CoCs,Overall Homeless,Overall Homeless - Under 18,Overall Homeless - Age 18 to 24,Overall Homeless - Over 24,Overall Homeless - Woman,Overall Homeless - Man,Overall Homeless - Transgender,Overall Homeless - Non Binary,...,Sheltered ES Homeless Parenting Youth Age 18-24,Sheltered TH Homeless Parenting Youth Age 18-24,Sheltered Total Homeless Parenting Youth Age 18-24,Unsheltered Homeless Parenting Youth Age 18-24,Overall Homeless Children of Parenting Youth,Sheltered ES Homeless Children of Parenting Youth,Sheltered TH Homeless Children of Parenting Youth,Sheltered Total Homeless Children of Parenting Youth,Unsheltered Homeless Children of Parenting Youth,year
0,AK,2,1845,305,186,1354,765,1075,4,1,...,10,12,22,0,39,20,19,39,0,2017

In [39]:
pit2018 = pd.read_excel('..\data\PIT.xlsx', sheet_name= 6)

In [40]:
pit2018['year'] = 2018

In [41]:
pit2019 = pd.read_excel('..\data\PIT.xlsx', sheet_name= 5)

In [42]:
pit2019['year'] = 2019

In [43]:
pit2020 = pd.read_excel('..\data\PIT.xlsx', sheet_name= 4)

In [44]:
pit2020['year'] = 2020

In [45]:
pit2021 = pd.read_excel('..\data\PIT.xlsx', sheet_name= 3)

In [46]:
pit2021['year'] = 2021

In [47]:
pit2022 = pd.read_excel('..\data\PIT.xlsx', sheet_name= 2)

In [48]:
pit2022['year'] = 2022

In [49]:
pit2023 = pd.read_excel('..\data\PIT.xlsx', sheet_name= 1)

In [50]:
pit2023['year'] = 2023

In [51]:
pit2024 = pd.read_excel('..\data\PIT.xlsx', sheet_name= 0)

In [52]:
pit2024['year'] = 2024

In [53]:
dfs= [pit2015, pit2016, pit2017, pit2018, pit2019, pit2020, pit2021, pit2022, pit2023, pit2024]
pits= pd.DataFrame()

for df in dfs:
   df= df[['State', 'Number of CoCs', 'Overall Homeless', 'year']]
   pits=pd.concat([pits, df])

In [54]:
pits=pits.reset_index(drop=True)

In [55]:
df_list= [hic2015, hic2016, hic2017, hic2018, hic2019, hic2020, hic2021, hic2022, hic2023, hic2024]
hics= pd.DataFrame()


for df in df_list:
   df= df[['State', 'Total Year-Round Beds (ES, TH, SH)', 'year']]
   hics=pd.concat([hics, df])

In [56]:
hics=hics.reset_index(drop=True)

In [57]:
pits

,State,Number of CoCs,Overall Homeless,year
0,AK,2.0,1956,2015
1,AL,8.0,3970,2015
2,AR,7.0,2560,2015
3,AS,0.0,,2015
4,AZ,3.0,9896,2015
...,...,...,...,...
570,WY,1.0,501,2024
571,Total,385.0,771480,2024
572,NaN,NaN,NaN,2024
573,* File does not contain the imputed race or ra...,NaN,NaN,2024
574,"** Beginning in 2024, all variables for ""Non-H...",NaN,NaN,2024

In [58]:
hics.head(2)

0 State Total Year-Round Beds (ES, TH, SH)  year
0    AK                               1860  2015
1    AL                               3613  2015

In [59]:
pits_hics=pd.merge(pits, hics,
         on=['State', 'year'],
         how='inner')

In [60]:
pits_hics

,State,Number of CoCs,Overall Homeless,year,"Total Year-Round Beds (ES, TH, SH)"
0,AK,2.0,1956,2015,1860
1,AL,8.0,3970,2015,3613
2,AR,7.0,2560,2015,2486
3,AZ,3.0,9896,2015,7473
4,CA,43.0,115738,2015,45929
...,...,...,...,...,...
553,WA,6.0,31554,2024,18291
554,WI,4.0,5049,2024,4787
555,WV,4.0,1779,2024,1293
556,WY,1.0,501,2024,704
557,Total,385.0,771480,2024,509710

In [61]:
pits_hics.to_csv('..\data\pits_hics.csv')

In [62]:
TNpop = pd.read_csv('..\data\TN_Nash pop 2020.csv')
TNpop.head(5)

,Label (Grouping),Tennessee!!Count,Tennessee!!Percent,"Davidson County, Tennessee!!Count","Davidson County, Tennessee!!Percent"
0,SEX AND AGE,NaN,NaN,NaN,NaN
1,Total population,"6,910,840",100.0%,"715,884",100.0%
2,Under 5 years,"393,767",5.7%,"43,309",6.0%
3,5 to 9 years,"419,749",6.1%,"39,540",5.5%
4,10 to 14 years,"447,464",6.5%,"38,392",5.4%

In [63]:
TNpop=TNpop.rename(columns={'Label(Grouping)' : 'Sex and Age', 'Tennessee!!Count':'TN count', 'Tennessee!!Percent': 'TN pct', 'Davidson County, Tennessee!!Count': 'Davidson Co count', 'Davidson County, Tennessee!!Percent': 'Davidson Co pct'})

In [64]:
TNpop = TNpop.iloc[1:].reset_index(drop=True)
TNpop.head(2)

        Label (Grouping)   TN count  TN pct Davidson Co count Davidson Co pct
0       Total population  6,910,840  100.0%           715,884          100.0%
1          Under 5 years    393,767    5.7%            43,309            6.0%

In [65]:
TNpop.describe()

,Label (Grouping),TN count,TN pct,Davidson Co count,Davidson Co pct
count,173,160,160,160,160
unique,105,152,93,152,102
top,Total population,"6,910,840",100.0%,"715,884",100.0%
freq,5,5,10,5,10

In [66]:
TNpop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 173 entries, 0 to 172
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Label (Grouping)   173 non-null    object
 1   TN count           160 non-null    object
 2   TN pct             160 non-null    object
 3   Davidson Co count  160 non-null    object
 4   Davidson Co pct    160 non-null    object
dtypes: object(5)
memory usage: 6.9+ KB

In [67]:
TNpop['year'] = 2020

In [68]:
TNpop.to_csv('..\data\TNpop.csv')

In [69]:
hist_vacancy=pd.read_csv('..\data\hist_vacancy.csv')

In [70]:
hist_vacancy=hist_vacancy.iloc[0:5]
hist_vacancy

   Unnamed: 0  Date     US Tennessee Nashville, TN
0           0  2019  5.97%     7.27%         8.65%
1           1  2018  6.15%     7.56%         7.78%
2           2  2017  6.18%     6.67%         5.85%
3           3  2016  5.89%     6.68%         3.96%
4           4  2015  5.85%     7.13%         4.87%

In [71]:
pits_hics.head(1)

,State,Number of CoCs,Overall Homeless,year,"Total Year-Round Beds (ES, TH, SH)"
0,AK,2.0,1956,2015,1860

In [72]:
pits_hics_tn= pits_hics.loc[pits_hics['State']=='TN']

In [73]:
pits_hics_tn=pits_hics_tn.loc[(pits_hics_tn['year'] > 2014) & (pits_hics_tn['year']<2020)]

In [74]:
pits_hics_tn=pits_hics_tn.sort_values('year', ascending=False).reset_index(drop=True)
pits_hics_tn

,State,Number of CoCs,Overall Homeless,year,"Total Year-Round Beds (ES, TH, SH)"
0,TN,10.0,7467,2019,5413
1,TN,10.0,7883,2018,5674
2,TN,10.0,8309,2017,6326
3,TN,10.0,8779,2016,6979
4,TN,10.0,9123,2015,6981

In [75]:
pits_hics_vac = pd.merge(hist_vacancy, pits_hics_tn,
         left_on= 'Date', right_on='year',
         how='inner')
pits_hics_vac

,Unnamed: 0,Date,US,Tennessee,"Nashville, TN",State,Number of CoCs,Overall Homeless,year,"Total Year-Round Beds (ES, TH, SH)"
0,0,2019,5.97%,7.27%,8.65%,TN,10.0,7467,2019,5413
1,1,2018,6.15%,7.56%,7.78%,TN,10.0,7883,2018,5674
2,2,2017,6.18%,6.67%,5.85%,TN,10.0,8309,2017,6326
3,3,2016,5.89%,6.68%,3.96%,TN,10.0,8779,2016,6979
4,4,2015,5.85%,7.13%,4.87%,TN,10.0,9123,2015,6981

In [76]:
pits_hics_vac=pits_hics_vac.drop(pits_hics_vac.columns[[0,8]], axis=1)

In [77]:
pits_hics_vac=pits_hics_vac.rename(columns={'Date':'Year', 'US':'US vacancy rate', 'Tennessee':'TN vacancy rate', 'Nashville': 'Nashville vacancy rate'})

In [78]:
pits_hics_vac.to_csv('../data/pits_hics_vac.csv')

In [79]:
import numpy as np

In [80]:
pop_pyramid=TNpop.iloc[np.r_[25:44, 50:69]].reset_index(drop=True)

In [82]:
pop_pyramid['gender']= 'val'
pop_pyramid.loc[0:19,'gender'] = 'male'
pop_pyramid.loc[19:38,'gender'] = 'female'
pop_pyramid=pop_pyramid.drop(index=[0, 19])
pop_pyramid

,Label (Grouping),TN count,TN pct,Davidson Co count,Davidson Co pct,year,gender
1,Under 5 years,"201,169",6.0%,"21,858",6.3%,2020,male
2,5 to 9 years,"214,222",6.4%,"20,154",5.8%,2020,male
3,10 to 14 years,"228,419",6.8%,"19,421",5.6%,2020,male
4,15 to 19 years,"230,020",6.8%,"21,007",6.1%,2020,male
5,20 to 24 years,"227,018",6.7%,"27,270",7.9%,2020,male
6,25 to 29 years,"229,438",6.8%,"36,969",10.7%,2020,male
7,30 to 34 years,"224,552",6.7%,"35,338",10.2%,2020,male
8,35 to 39 years,"216,601",6.4%,"28,257",8.2%,2020,male
9,40 to 44 years,"206,876",6.1%,"22,267",6.5%,2020,male
10,45 to 49 years,"212,408",6.3%,"19,861",5.8%,2020,male
11,50 to 54 years,"213,982",6.4%,"18,366",5.3%,2020,male
12,55 to 59 years,"224,187",6.7%,"19,165",5.6%,2020,male
13,60 to 64 years,"211,621",6.3%,"17,327",5.0%,2020,male
14,65 to 69 years,"182,748",5.4%,"14,432",4.2%,2020,male
15,70 to 74 years,"149,689",4.4%,"10,467",3.0%,2020,male
16,75 to 79 years,"97,171",2.9%,"6,321",1.8%,2020,male
17,80 to 84 years,"55,840",1.7%,"3,653",1.1%,2020,male
18,85 years and over,"40,439",1.2%,"3,079",0.9%,2020,male
20,Under 5 years,"192,598",5.4%,"21,451",5.8%,2020,female
21,5 to 9 years,"205,527",5.8%,"19,386",5.2%,2020,female
22,10 to 14 years,"219,045",6.2%,"18,971",5.1%,2020,female
23,15 to 19 years,"222,225",6.3%,"20,869",5.6%,2020,female
24,20 to 24 years,"230,154",6.5%,"32,622",8.8%,2020,female
25,25 to 29 years,"235,466",6.6%,"40,706",11.0%,2020,female
26,30 to 34 years,"231,815",6.5%,"35,849",9.7%,2020,female
27,35 to 39 years,"224,356",6.3%,"27,778",7.5%,2020,female
28,40 to 44 years,"212,758",6.0%,"21,938",5.9%,2020,female
29,45 to 49 years,"218,789",6.2%,"20,079",5.4%,2020,female
30,50 to 54 years,"222,313",6.3%,"19,251",5.2%,2020,female
31,55 to 59 years,"241,231",6.8%,"21,013",5.7%,2020,female
32,60 to 64 years,"234,479",6.6%,"20,215",5.5%,2020,female
33,65 to 69 years,"207,598",5.9%,"16,757",4.5%,2020,female
34,70 to 74 years,"173,534",4.9%,"13,039",3.5%,2020,female
35,75 to 79 years,"118,469",3.3%,"8,422",2.3%,2020,female
36,80 to 84 years,"77,604",2.2%,"5,847",1.6%,2020,female
37,85 years and over,"76,479",2.2%,"6,479",1.7%,2020,female

In [83]:
pop_pyramid.to_csv('../data/pop_pyramid.csv')

In [84]:
pop_pyramid['TN count'] = pop_pyramid['TN count'].str.replace(',', '').astype(int)
pop_pyramid['Davidson Co count'] = pop_pyramid['Davidson Co count'].str.replace(',','').astype(int)

In [85]:
pop_pyramid.loc[pop_pyramid['gender']=='male', 'TN count'] = pop_pyramid['TN count'].multiply(-1)

In [86]:
pop_pyramid.loc[pop_pyramid['gender']=='male', 'Davidson Co count'] = pop_pyramid['Davidson Co count'].multiply(-1)

In [87]:
pop_pyramid.to_csv('../data/pop_pyramid.csv')

In [88]:
TNpit2015 = pd.read_excel('..\data\TN_Nash_homeless.xlsx', sheet_name= 9)

In [89]:
TNpit2015['year']= 2015
TNpit2015

,CoC Number,CoC Name,Count Types,Overall Homeless,Overall Homeless - Under 18,Overall Homeless - Age 18 to 24,Overall Homeless - Over 24,Overall Homeless - Woman,Overall Homeless - Man,Overall Homeless - Transgender,...,Sheltered ES Homeless Parenting Youth Age 18-24,Sheltered TH Homeless Parenting Youth Age 18-24,Sheltered Total Homeless Parenting Youth Age 18-24,Unsheltered Homeless Parenting Youth Age 18-24,Overall Homeless Children of Parenting Youth,Sheltered ES Homeless Children of Parenting Youth,Sheltered TH Homeless Children of Parenting Youth,Sheltered Total Homeless Children of Parenting Youth,Unsheltered Homeless Children of Parenting Youth,year
0,AK-500,Anchorage CoC,Sheltered and Unsheltered Count,1208.0,258.0,128.0,822.0,453.0,753.0,2.0,...,7.0,8.0,15.0,0.0,16.0,7.0,9.0,16.0,0.0,2015
1,AK-501,Alaska Balance of State CoC,Sheltered and Unsheltered Count,748.0,153.0,69.0,526.0,320.0,428.0,0.0,...,1.0,2.0,3.0,0.0,5.0,2.0,3.0,5.0,0.0,2015
2,AL-500,"Birmingham/Jefferson, St. Clair, Shelby Counti...",Sheltered and Unsheltered Count,1153.0,181.0,89.0,883.0,386.0,759.0,8.0,...,3.0,3.0,6.0,0.0,13.0,6.0,7.0,13.0,0.0,2015
3,AL-501,Mobile City & County/Baldwin County CoC,Sheltered and Unsheltered Count,578.0,72.0,36.0,470.0,173.0,405.0,0.0,...,0.0,3.0,3.0,0.0,6.0,0.0,6.0,6.0,0.0,2015
4,AL-502,Florence/Northwest Alabama CoC,Sheltered and Unsheltered Count,245.0,56.0,5.0,184.0,142.0,102.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
381,WV-508,West Virginia Balance of State CoC,Sheltered and Unsheltered Count,1109.0,136.0,91.0,882.0,379.0,730.0,0.0,...,2.0,3.0,5.0,7.0,17.0,4.0,5.0,9.0,8.0,2015
382,WY-500,Wyoming Statewide CoC,Sheltered and Unsheltered Count,798.0,187.0,59.0,552.0,295.0,503.0,0.0,...,4.0,7.0,11.0,1.0,20.0,5.0,14.0,19.0,1.0,2015
383,NaN,Total,NaN,564708.0,127787.0,52973.0,383948.0,224344.0,339075.0,1289.0,...,5650.0,3694.0,9344.0,431.0,13242.0,7432.0,5237.0,12669.0,573.0,2015
384,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015
385,a MO-604 covers territory in both Missouri and...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015

In [90]:
tncoc = ['TN-500', 'TN-501', 'TN-502', 'TN-503', 'TN-504', 'TN-506', 'TN-507', 'TN-509', 'TN-510', 'TN-512']

In [91]:
TNpit2015=TNpit2015.loc[TNpit2015['CoC Number'].isin(tncoc)]

In [92]:
TNpit2016 = pd.read_excel('..\data\TN_Nash_homeless.xlsx', sheet_name= 8)

In [93]:
TNpit2016['year']= 2016

In [94]:
TNpit2016=TNpit2016.loc[TNpit2016['CoC Number'].isin(tncoc)]

In [95]:
TNpit2017 = pd.read_excel('..\data\TN_Nash_homeless.xlsx', sheet_name= 7)

In [96]:
TNpit2017['year']= 2017

In [97]:
TNpit2017=TNpit2017.loc[TNpit2017['CoC Number'].isin(tncoc)]

In [98]:
TNpit2018 = pd.read_excel('..\data\TN_Nash_homeless.xlsx', sheet_name= 6)

In [99]:
TNpit2018['year']= 2018

In [100]:
TNpit2018=TNpit2018.loc[TNpit2018['CoC Number'].isin(tncoc)]

In [101]:
TNpit2019 = pd.read_excel('..\data\TN_Nash_homeless.xlsx', sheet_name= 5)

In [102]:
TNpit2019['year']= 2019

In [103]:
TNpit2019=TNpit2019.loc[TNpit2019['CoC Number'].isin(tncoc)]

In [104]:
TNpit2020 = pd.read_excel('..\data\TN_Nash_homeless.xlsx', sheet_name= 4)

In [105]:
TNpit2020['year']= 2020

In [106]:
TNpit2020=TNpit2020.loc[TNpit2020['CoC Number'].isin(tncoc)]

In [107]:
TNpit2021 = pd.read_excel('..\data\TN_Nash_homeless.xlsx', sheet_name= 3)

In [108]:
TNpit2021['year']= 2021

In [109]:
TNpit2021=TNpit2021.loc[TNpit2021['CoC Number'].isin(tncoc)]

In [110]:
TNpit2022 = pd.read_excel('..\data\TN_Nash_homeless.xlsx', sheet_name= 2)

In [111]:
TNpit2022['year']= 2022

In [112]:
TNpit2022=TNpit2022.loc[TNpit2022['CoC Number'].isin(tncoc)]

In [113]:
TNpit2023 = pd.read_excel('..\data\TN_Nash_homeless.xlsx', sheet_name= 1)

In [114]:
TNpit2023['year']= 2023

In [115]:
TNpit2023=TNpit2023.loc[TNpit2023['CoC Number'].isin(tncoc)]

In [116]:
TNpit2024 = pd.read_excel('..\data\TN_Nash_homeless.xlsx', sheet_name= 0)

In [117]:
TNpit2024['year']= 2024

In [127]:
TNpit2024=TNpit2024.loc[TNpit2024['CoC Number'].isin(tncoc)]

In [125]:
TN_df= [TNpit2015, TNpit2016, TNpit2017, TNpit2018, TNpit2019, TNpit2020, TNpit2021, TNpit2022, TNpit2023, TNpit2024]
TNpits= pd.DataFrame()


for df in TN_df:
   df= df[['CoC Number', 'CoC Name', 'Overall Homeless', 'year']]
   TNpits=pd.concat([TNpits, df])

In [126]:
TNpits.to_csv('../data/TNpits.csv')

In [130]:
TNhic2015 = pd.read_excel('../data/TN_Nash_beds.xlsx', sheet_name= 9)

In [132]:
TNhic2015['year']=2015

In [133]:
TNhic2015=TNhic2015.loc[TNhic2015['CoC Number'].isin(tncoc)]

In [134]:
TNhic2016 = pd.read_excel('../data/TN_Nash_beds.xlsx', sheet_name= 8)

In [135]:
TNhic2016['year']=2016

In [136]:
TNhic2016=TNhic2016.loc[TNhic2016['CoC Number'].isin(tncoc)]

In [137]:
TNhic2017 = pd.read_excel('../data/TN_Nash_beds.xlsx', sheet_name= 7)

In [138]:
TNhic2017['year']=2017

In [139]:
TNhic2017=TNhic2017.loc[TNhic2017['CoC Number'].isin(tncoc)]

In [140]:
TNhic2018 = pd.read_excel('../data/TN_Nash_beds.xlsx', sheet_name= 6)

In [142]:
TNhic2018['year']=2018

In [143]:
TNhic2018=TNhic2018.loc[TNhic2018['CoC Number'].isin(tncoc)]

In [144]:
TNhic2019 = pd.read_excel('../data/TN_Nash_beds.xlsx', sheet_name= 5)

In [145]:
TNhic2019['year']=2019

In [146]:
TNhic2019=TNhic2019.loc[TNhic2019['CoC Number'].isin(tncoc)]

In [147]:
TNhic2020 = pd.read_excel('../data/TN_Nash_beds.xlsx', sheet_name= 4)

In [148]:
TNhic2020['year']=2020

In [149]:
TNhic2020=TNhic2020.loc[TNhic2020['CoC Number'].isin(tncoc)]

In [150]:
TNhic2021 = pd.read_excel('../data/TN_Nash_beds.xlsx', sheet_name= 3)

In [151]:
TNhic2021['year']=2021

In [152]:
TNhic2021=TNhic2021.loc[TNhic2021['CoC Number'].isin(tncoc)]

In [153]:
TNhic2022 = pd.read_excel('../data/TN_Nash_beds.xlsx', sheet_name= 2)

In [154]:
TNhic2022['year']=2022

In [155]:
TNhic2022=TNhic2022.loc[TNhic2022['CoC Number'].isin(tncoc)]

In [156]:
TNhic2023 = pd.read_excel('../data/TN_Nash_beds.xlsx', sheet_name= 1)

In [157]:
TNhic2023['year']=2023

In [158]:
TNhic2023=TNhic2023.loc[TNhic2023['CoC Number'].isin(tncoc)]

In [159]:
TNhic2024 = pd.read_excel('../data/TN_Nash_beds.xlsx', sheet_name= 0)

In [160]:
TNhic2024['year']=2024

In [161]:
TNhic2024=TNhic2024.loc[TNhic2024['CoC Number'].isin(tncoc)]

In [162]:
TNhic2024.head(1)

,CoC Number,"Total Year-Round Beds (ES, TH, SH)","Total Non-DV Year-Round Beds (ES, TH, SH)","Total HMIS Year-Round Beds (ES, TH, SH)","HMIS Participation Rate for Year-Round Beds (ES, TH, SH)",Total Year-Round Beds (ES),Total Year-Round Beds (TH),Total Year-Round Beds (SH),"Total Units for Households with Children (ES, TH, SH)","Total Beds for Households with Children (ES, TH, SH)",...,Total Non-DV Year-Round Beds (OPH),Total HMIS Year-Round Beds (OPH),HMIS Participation Rate for Year-Round Beds (OPH),Total Units for Households with Children (OPH),Total Beds for Households with Children (OPH),Total Beds for Households without Children (OPH),Total Beds for Households with only Children (OPH),Dedicated Veteran Beds (OPH),Dedicated Youth Beds (OPH),year
327,TN-500,283,242,231,0.8163,253,30,0,32,142,...,8,0,0,0,0,8,0,8,0,2024

In [163]:
TNhic_df= [TNhic2015, TNhic2016, TNhic2017, TNhic2018, TNhic2019, TNhic2020, TNhic2021, TNhic2022, TNhic2023, TNhic2024]
TNhics= pd.DataFrame()


for df in TNhic_df:
   df= df[['CoC Number', 'Total Year-Round Beds (ES, TH, SH)', 'year']]
   TNhics=pd.concat([TNhics, df])

In [165]:
TN_pits_hics=pd.merge(TNpits, TNhics,
         on=['CoC Number', 'year'],
         how='inner')
TN_pits_hics.head(2)

,CoC Number,CoC Name,Overall Homeless,year,"Total Year-Round Beds (ES, TH, SH)"
0,TN-500,Chattanooga/Southeast Tennessee CoC,636.0,2015,321.0
1,TN-501,Memphis/Shelby County CoC,1525.0,2015,1626.0

In [166]:
TN_pits_hics.to_csv('../data/TN_pits_hics.csv')